.AppContainer{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 1px black solid;
}
p{
    margin: 5px;
    padding: 5px;
}