.commentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.comments{
    margin: 5px;
    padding: 5px;
    
}
.names{
    font-weight: bolder;
}